@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Open+Sans:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");

.App {
  width: 40rem;
  border-radius: 9px;
  background-color: #bee9e8;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 90%;
}

.header {
  margin-top: 0;
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.label {
  display: flex;
}

.option {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.statement {
  font-family: "Roboto Mono", monospace;
}

.btn-submit {
  width: 90%;
  margin: 0 auto;
  display: block;
  height: 3rem;
  font-size: large;
}

.score-message {
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.dropDown {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select {
  height: 3rem;
  text-align: center;
  font-size: large;
  border-radius: 9px;
}
